# Pandas Task#04

In [10]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")

In [6]:
df2=df.pivot_table(index=['Survived'],columns=['Sex'],aggfunc='count')

In [11]:
pd.DataFrame(df2.Name)

Sex       female  male
Survived
0             81   468
1            233   109